.review-page{
    background-image: url('../../../../src/img/back.png');
    background-repeat: no-repeat;
    background-size: cover;
   
}

.products-title2{
    font-size: 35px;
    color: aqua;
    
}