.seemore{
    text-align: right;
}
.products{
    background-image: url('../../../../src/img/background/back2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}